


<p-panel header="Pipes Numericos" class="p-2">
  <h1>Pipes Numericos</h1>
  <p>
    Pipes incluidos en Angular - Usualemnte en el Common Module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente ano">
      {{ totalSells + 12345 | number:'1.2-2'    }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente ano">
      {{ totalSells | currency:'UYU' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente ano">
      {{ percent | percent: '1.2-2' }}
    </p-card>
  </div>

</div>
